*{
padding:0px;
margin:0px;
}

body{
  
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;


}



.header{
display:flex;
justify-content:space-between;
align-items:center;
margin:10px 140px 10px 100px;
}

.header-menu{
display:none;
}

.header-logo{
display:flex;
}
.header-logo__image{
width:60px;
}
.header-logo__title{
margin-top:10px;
}
.header-item{
display:flex;
gap:20px;

}



.header-item p{
padding:9.5px;

border-radius:20px;

}
.header-item p:hover{
background-color:#cccccc;

}



.header-sign{
display:flex;
gap:20px;
}
.header-sign__globe{
display:flex;
gap:5px;
border:1px solid transparency;
padding:10px;
border-radius:20px;
background-color:transparency;

}
.header-user{
display:none;
}
.header-sign__globe p{
border-left:1px solid black;
padding-left:7px;
}
.header-sign__globe:hover{
background-color:#cccccc;
}
.header-sign__s1{
border:1px solid #002B11;
padding:3px 5px;
border-radius:20px;
background-color:#002B11;
color:white;
}



.navbar{
text-align:center;
}


.navbar-title{
margin-top:40px;
font-size:50px;
}
/*
.navbar-items{
display:flex;
justify-content:center;
gap:20px;
font-size:20px;
margin-top:40px;
}*/

ol{
list-style-type:none;
display:flex;
justify-content:center;
gap:20px;
}







.navbar-items__src:hover{
text-decoration:underline;
}

.navbar-search{
display:flex;
justify-content:space-between;
align-items:center;
border:1px solid black;
width:65%;
margin:0 auto;
padding:5px;
border-radius:30px;
margin-top:40px;
font-size:18px;
background-color:#F7F7F7;
}

.navbar-search__srcbox{
border:none;
font-size:18px;
width:750px;
background-color:#F7F7F7;
}
.navbar-search__srcbox:focus,.navbar-search__srcbox:active{
border:none;
outline:none;
}

.navbar-search__btn{
border:none;
background-color:#00eb5b;
padding:10px;
border:1px solid #00eb5b;
border-radius:20px;
font-size:18px;
}
.navbar-search__btn:hover{
background-color:#30ba55;
}


.content{
display:flex;
margin:0 auto;
margin-top:70px;
justify-content:center;
align-items:center;
padding:24px;
background-color:#00eb5b;
width:80%;
border-radius:10px;
}
.content-s1{
border-right:1px solid black;
padding-right:25px;
}
.content-s1__image{
width:600px;
border-radius:20px;

}
.content-s2{
padding-left:20px;
text-align:center;
}
.content-s2__title{
font-size:40px;
}
.content-s2__desc{
font-size:20px;
margin-top:40px;
}
.content-s2__btn{
font-size:18px;
background-color:#002B11;
color:white;
border:none;
font-size:16px;
border:1px solid #002B11;
padding:15px;
border-radius:25px;
margin-top:40px;
}
.content-s2__btn:hover{
opacity:0.9;
}

.interest{
margin:50px 100px 10px 110px;
}

.interest-desc{
margin-top:15px;
}


.interest-image{
width:270px;
margin:5px;
margin-top:20px;
border-radius:8px;
}



.interest-image:hover{
opacity:0.8;
}

.container{
display:flex;
margin-top:20px;
}
.interest-s1{
margin:50px 100px 10px 110px;
}
.interest-s1__image{
width:270px;
border-radius:15px;
}
.interest-s1__image:hover{
opacity:0.8;
}

.interest-s1__desc{
margin-top:15px;
}

.tour{
margin:50px 100px 10px 110px;
}
.container1{
display:flex;
margin-top:20px;
}

.tour-s1__image{
width:270px;
border-radius:15px;
}
.tour-s1__image:hover{
opacity:0.8;
}

.tour-s1__desc{
margin-top:15px;
}
.tour-s2{
width:500px;
}
.places{
margin:50px 100px 10px 110px;
}
.places-s1__image{
width:270px;
border-radius:15px;
margin:5px;
}
.places-s1__image:hover{
opacity:0.8;
}
.places-desc{
margin:15px 0px 25px 0px;
}
.places-s2__image{
width:270px;
border-radius:15px;
margin:5px;
}
.places-s2__image:hover{
opacity:0.8;
}
.places-s2{
margin-top:70px;
}

.rideContainer{
display:flex;
margin:50px 100px 10px 110px;
background-color:#F7F7F7;
border:1px solid #F7F7F7;
padding:25px;
}
.rideContainer-logo{
display:none;
}
.rideContainer-s1__image{
width:500px;

}
.rideContainer-s2{
text-align:center;
margin-top:125px;
padding:0px 70px;
}

.rideContainer-s3{
display:flex;
justify-content:center;
}
.rideContainer-s3__image{
width:35px;
}

.rideContainer-s3__desc{
text-align:center;
margin:auto 0;
}

.rideContainer-s2__btn{
border:none;
background-color:#002B11;
padding:10px;
border:1px solid #002B11;
border-radius:20px;
color:white;
font-size:18px;
margin-top:20px;
}
.rideContainer-s2__btn:hover{
opacity:0.8;
}
.awards{
display:flex;
justify-content:space-evenly;
background-color:#01290d;
color:white;
padding:20px 100px 30px 110px;
margin-top:80px;
}

.awards-s1{
padding-top:30px;
}

.awards-s1__image{
width:80px;
background-color:yellow;
border:1px solid yellow;
border-radius:15px;
}
.awards-s1__title{
font-size:45px;
}
.awards-s1__desc{
font-size:20px;
}
.awards-s2__image{
width:450px;
margin-top:30px;
margin-left:25px;
border-radius:10px;
}
.awards-s1__btn{
border:none;
border:1px solid white;
color:#01381e;
border-radius:25px;
padding:15px;
margin-top:15px;
font-weight:bold;
font-size:17px;
background-color:white;
}
.awards-s1__btn:hover{
background-color:#F7F7F7;
}
.collection{
margin:50px 100px 10px 110px;
}
.CollectContainer{
display:flex;
width:100px;
}
.collection-s1__image{
width:270px;
margin:7px;
border-radius:10px;
}
.collection-s1__image:hover{
opacity:0.8;
}
.footer{
background-color:#F7F7F7;
margin-top:50px;
padding:50px 100px 10px 110px;
}
.footer1{
display:flex;
gap:40px;
}

ul{
list-style-type:none;
line-height:30px;
font-size:14px;
}
ul p{
font-size:16.5px;
}
.footer-s4{
margin-left:200px;
}
.footer-two{
display:flex;
}
.footer2-s1__image{
width:60px;
}
.footer2-s2__btn{
border:none;
display:flex;
gap:80px;
padding:10px;
background-color:white;
border:2px solid black;
border-radius:15px;
margin:10px;
}
.footer-three{
display:flex;
justify-content:space-evenly;
}
.footer-three__desc{
width:85%;
}
.last-footer{
margin-left:10px;
}
.footer2-s2__btn:hover{
background-color:#F7F7F7;
}

.creditpage{
display:none;
}
                                             /* MEDIA QUERY */




@media screen and (max-width:500px){
*{
padding:0px;
margin:0px;
}
        
                                             /* HEADING PAGE */


.header{
display:flex;
justify-content:space-evenly;
margin:20px 40px 0px 40px;
gap:120px;
}

.header-menu{
display:flex;
}
.header-user{
display:block;

}
.header-logo__image{
width:45px;
}
.header-logo__title{
font-size:17px;

}

.header-item{
display:none;
}

.header-sign{
display:none;
}

                                             /* NAVIGATION PAGE */
.navbar-title{
display:none;
}

.navbar-items{
margin:50px 15px 0px 15px;;
}

ol{
display:flex;
flex-wrap:no-wrap;
justify-content:space-evenly;
gap:5px;
overflow-x:scroll;
}

.navbar-search{
display:block;
padding:30px 10px;
}
.navbar-search__srcbox{
width:300px;

}
.navbar-search{
width:400px;
border-radius:10px;
}
.navbar-search__btn{
width:300px;
margin-top:20px;

}

                                             /* CONTENT PAGE 1 */


.content{
display:block;
width:83%;
padding:20px;

}
.content-s1__image{
width:400px;;
}

.content-s1{
border:none;
}
.content-s2__title{
font-size:25px;
margin-top:20px;
}
.content-s2__desc{
margin-top:10px;
font-size:16.5px;
}
.content-s2__btn{
margin-top:15px;
margin-bottom:20px;
}


                                             /* CONTENT PAGE 2 Interest 1 */

.interest{
margin:0px;
}


.interest-image{
width:220px;
}

.interest-card{
display:flex;
flex-wrap:wrap;
margin-left:15px;
}


                                             /* CONTENT PAGE 3 - Interest 2 */




.interest-s1{
margin-left:20px;
}

.container{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
gap:10px;
width:450px;
}

.interest-s2{
flex-grow:2;
flex-basis:10%;
font-size:12px;
}

.interest-s1__image{
width:220px;
}
.interest-title,.interest-desc{
margin:20px;
}


                                             /* CONTENT PAGE 4 */

.tour{
margin-left:18px;
}
.container1{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
gap:10px;
width:450px;
}
.tour-s2{
flex-grow:2;
flex-basis:10%;
font-size:12px;
}

.tour-s1__image{
width:220px;
}


.places{
margin-left:18px;
}
.places-s1{
display:flex;
width:450px;
}
.places-s1__image{
width:210px;
}


.places-s2{
margin-left:25px;
}
.places-card{
display:flex;
width:450px;
}
.places-s2__image{
width:210px;
}


                                             /* CONTENT PAGE 5 */

.rideContainer{
margin:1px;
margin-top:15px;
padding:5px;
display:block;
width:465px;
}
.rideContainer-logo{
display:block;
}

.rideContainer-s1__image{
width:430px;
margin-left:20px;
}
.rideContainer-s2{
margin-top:5px;
text-align:left;
padding-left:20px;
}
.rideContainer-logo{
display:flex;
padding-left:18px;
}
.rideContainer-logo__image{
width:30px;
}

.rideContainer-s3{
display:none;
}



                                             /* CONTENT PAGE 6 */
.awards{
display:block;
padding-top:10px;
padding:5px;
}
.awards-s1{
padding:30px;
}

awards-s1__image{
width:40px;
}
.awards-s1__title{
text-align:left;
font-size:25px;
}

.awards-s1__desc{
font-size:18px;
}
.awards-s2__image{
width:410px;
}



                                             /* CONTENT PAGE 7 */


.collection{
margin-left:20px;
}

.CollectContainer{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
width:445px;
}

.collection-s1{
flex-grow:2;
flex-basis:10%;
font-size:12px;
}

.collection-s1__image{
width:205px;
}





.footer1,.footer2{
display:none;
}
.footer{
padding-left:35px;
}
.creditpage{
display:block;
}
.creditpage-list >ul {
line-height:40px;
list-style-type:none;
}




.creditpage-button{
border:none;
display:flex;
gap:320px;
padding:10px;
background-color:white;
border:2px solid black;
border-radius:15px;
margin:10px 0px;
width:400px;
}
.creditpage-btn{
border:none;
display:flex;
gap:315px;
padding:10px;
background-color:white;
border:2px solid black;
border-radius:15px;
margin:10px 0px;
width:400px;
}
.creditpage-link{
text-align:right;
}
.creditpage-logo__image{
width:40px;
}
.creditpageterms{
display:flex;
width:400px;
}
.creditpage__desc{
width:400px;
font-size:13px;
margin-left:10px;
}
}






