*{
padding:0px;
margin:0px;
}

body{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

                                           /*HEADING PAGE*/

.header{
display:flex;
justify-content:space-between;
align-items:center;
margin:10px 100px;

}

.header-menu{
display:none;
}

.header-logo{
display:flex;
}
.header-logo__image{
width:60px;
}

.header-logo__title{
margin-top:8px;
}

.header-searchbar{
display:flex;
gap:20px;
}

.header-searchbar p{
padding:9.5px;
border-radius:20px;
}

.header-searchbar p:hover{
background-color:#cccccc;
}


.header-userProfile{
display:none;
}


.header-sign{
display:flex;
gap:20px;
}

.header-sign__globe{
display:flex;
gap:5px;
justify-content:center;
align-items:center;
border:1px solid transparency;
padding:10px;
border-radius:20px;
background-color:transparency;

}

.header-sign__globe p{
border-left:1px solid black;
padding-left:7px;
}
.header-sign__globe:hover{
background-color:#cccccc;
}
.header-sign__btn{
border:1px solid #002B11;
padding:3px 5px;
border-radius:20px;
background-color:#002B11;
color:white;
}


                                           /*NAVIGATION PAGE*/

.navbar{
text-align:center;
}

.navbar-title{
margin-top:40px;
font-size:50px;
}

ol{
list-style-type:none;
display:flex;
justify-content:center;
gap:20px;
}

.navbar-items__src:hover{
text-decoration:underline;
}

.navbar-search{
display:flex;
justify-content:space-between;
align-items:center;
border:1px solid black;
width:65%;
margin:0 auto;
padding:5px;
border-radius:30px;
margin-top:40px;
font-size:18px;
background-color:#F7F7F7;
}

.navbar-search__srcbox{
border:none;
font-size:18px;
width:750px;
background-color:#F7F7F7;
}
.navbar-search__srcbox:focus,.navbar-search__srcbox:active{
border:none;
outline:none;
}

.navbar-search__btn{
border:none;
background-color:#00eb5b;
padding:10px;
border:1px solid #00eb5b;
border-radius:20px;
font-size:18px;
}
.navbar-search__btn:hover{
background-color:#30ba55;
}


                                           /*CONTENT 1*/

.content{
display:flex;
margin:0 auto;
margin-top:70px;
justify-content:center;
align-items:center;
padding:24px;
background-color:#00eb5b;
width:77%;
border-radius:10px;
}


.content-image{
border-radius:20px;
width:100%;
}
.content-box2{
padding-left:20px;
text-align:center;
}
.content-box2__title{
font-size:40px;
}
.content-box2__desc{
font-size:20px;
margin-top:40px;
}
.content-box2__btn{
font-size:18px;
background-color:#002B11;
color:white;
border:none;
font-size:16px;
border:1px solid #002B11;
padding:15px;
border-radius:25px;
margin-top:40px;
}
.content-box2__btn:hover{
opacity:0.9;
}

                                           /*CONTENT 2*/

.interest-card{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}
.interest-card1{
margin:0 auto;
text-align:center;
flex-grow:1;
}
.interest-card1__image{
width:20%;
border-radius:10px;
}
.interest-title,.interest-desc{
margin:20px;
margin-left:10%;
}
.interest-card1__image:hover{
opacity:0.8;
}

 
                                          /*CONTENT 3 */




.interest-s1{
margin-left:9.5%;
margin-top:3%;
}
.container{
display:flex;
margin-top:20px;
width:92%;

}
.interest-s2{
flex-grow:1;
width:92%;

}
.interest-s1__image{
width:92%;
border-radius:10px;
}

.interest-s1__image:hover{
opacity:0.8;
}

                                          /*CONTENT 4 */
                                           


.tour{
margin-left:9.5%;
margin-top:3%;
}
.container1{
display:flex;
width:93%;
}
.tour-s2{
flex-grow:1;
width:90%;
}

.tour-s1__image{
width:90%;
border-radius:10px;
}

.tour-s1__image:hover{
opacity:0.8;
}


                                           /*CONTENT 5*/


.places{
margin-left:9.5%;
margin-top:3%;
}

.places-s1{
display:flex;
}
.places-f5{
flex-grow:1;
}
.places-s1__image{
width:22.5%;
border-radius:10px;
}
.places-s1__image:hover{
opacity:0.8;
}

                                           /*CONTENT 6*/


.places-s2{
margin-left:9.5%;
margin-top:3%;
}

.places-card{
display:flex;
}
.places-card1{
flex-grow:1;
}
.places-s2__image{
width:22.5%;
border-radius:10px;
}


.places-s2__image:hover{
opacity:0.8;
}


                                           /*CONTENT 7*/


.rideContainer{
display:flex;
width:78.5%;
margin-left:9.5%;
margin-top:3%;
background-color:#F7F7F7;
padding:2%;
}
.rideContainer-s1__image{
width:40%;
}
.rideContainer-s3{
display:flex;
}
.rideContainer-s2{
padding:5%;
margin-left:5%;
}
.rideContainer-s3__image{
width:6%;
}
.rideContainer-logo{
display:none;
}
.rideContainer-s2__btn{
border:none;
padding:2%;
border-radius:20px;
background-color:#002B11;
color:white;
margin-top:3%;
} 
.ideContainer-s2__title,.rideContainer-s2__desc{
margin-top:3%;
}

                                          /*CONTENT 8 */


.awards{
display:flex;
justify-content:space-evenly;
align-items:center;
background-color:#01290d;
color:white;
padding:3% 10%;
margin-top:3%;
}

.awards-s1__image{
width:13%;
background-color:yellow;
border:1px solid yellow;
border-radius:15px;
}
.awards-s1__title{
font-size:40px;
}
.awards-s1__desc{
font-size:20px;
}
.awards-s2__image{
width:40%;
margin-top:30px;
margin-left:25px;
border-radius:10px;
}
.awards-s1__btn{
border:none;
border:1px solid white;
color:#01381e;
border-radius:25px;
padding:15px;
margin-top:15px;
font-weight:bold;
font-size:17px;
background-color:white;
}
.awards-s1__btn:hover{
background-color:#F7F7F7;
}

                                           /*CONTENT 6*/


.collection{
margin-left:9.5%;
margin-top:3%;
}
.CollectContainer{
display:flex;
width:90%;
}
.collection-s1{
flex-grow:1;
width:90%;
}

.collection-s1__image{
width:90%;
border-radius:10px;
}
.collection-s1__image:hover{
opacity:0.8;
}

                                           /* FOOTER PAGE */


.footer{
background-color:#F7F7F7;
margin-top:50px;
padding:50px 100px 10px 110px;
}
.footer1{
display:flex;
gap:40px;
}

ul{
list-style-type:none;
line-height:30px;
font-size:14px;
}
ul p{
font-size:16.5px;
}
.footer-s4{
margin-left:200px;
}
.footer-two{
display:flex;
}
.footer2-s1__image{
width:60px;
}
.footer2-s2__btn{
border:none;
display:flex;
gap:80px;
padding:10px;
background-color:white;
border:2px solid black;
border-radius:15px;
margin:10px;
}
.footer-three{
display:flex;
justify-content:space-evenly;
}
.footer-three__desc{
width:85%;
}
.last-footer{
margin-left:10px;
}
.footer2-s2__btn:hover{
background-color:#F7F7F7;
}

.creditpage{
display:none;
}
                                             /* MEDIA QUERY */




@media screen and (max-width:600px){
*{
padding:0px;
margin:0px;
}
body{
color:red;
}     
                                             /* HEADING PAGE */


.header{
display:flex;
justify-content:space-between;
align-items:center;
}
.header-searchbar{
display:none;
}
.header-menu{
display:block;
}
.header-userProfile{
display:block;
}
.header-sign{
display:none;
}
.header-logo__image{
width:45px;
}
.header-logo__title{
font-size:17px;

}

.header-list{
display:none;
}



                                             /* NAVIGATION PAGE */
.navbar-title{
display:none;
}

.navbar-items{
margin:50px 15px 0px 15px;;
}

ol{
display:flex;
justify-content:space-evenly;
overflow-x:auto;
font-size:12px;
}

.navbar-search{
display:block;
padding:30px 10px;
}
.navbar-search__srcbox{
width:300px;

}
.navbar-search{
width:350px;
border-radius:10px;
}
.navbar-search__btn{
width:300px;
margin-top:20px;

}

                                             /* CONTENT 1 */


.content{
display:block;
}

                                             /* CONTENT 2 */


.interest-card{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
}
.interest-card1{
margin:0 auto;
text-align:center;
flex-grow:1;
}
.interest-card1__image{
width:45%;
border-radius:10px;
}

                                             /* CONTENT 3*/




.interest-s1{
margin-left:5%;
margin-top:3%;
}

.container{
display:flex;
flex-wrap:wrap;
margin-top:20px;
width:96%;
}
.interest-s2{
flex-grow:2;
width:50%;

}
.interest-s2 h4{
font-size:12px;
}
.interest-s1__image{

border-radius:10px;
}


                                             /* CONTENT 4 */


.tour{
margin-left:5%;
margin-top:3%;
}
.container1{
display:flex;
flex-wrap:wrap;
width:93%;
}
.tour-s2{
flex-grow:2;
flex-basis:50%;
}

.tour-s2 h4,.tour-s2 p,.tour-s2 h5{
font-size:15px;
padding-left:5px;
}

.tour-s1__image{
margin-top:3%;
border-radius:10px;
}
                                             /* CONTENT 4 places 1 */ 

.places{
margin-left:5%;
margin-top:3%;
}

.places-s1{
display:flex;
flex-wrap:wrap;
justify-content:center;
align-items:center;
width:90%;
}
.places-f5{
flex-grow:2;
}
.places-s1__image{
width:49%;
border-radius:10px;
}
                                             /* CONTENT 4 places 2 */ 

.places-s2{
margin-left:5%;
margin-top:3%;
}

.places-card{
display:flex;
flex-wrap:wrap;
width:90%;
}
.places-card1{
flex-grow:2;
}
.places-s2__image{
width:49%;
border-radius:10px;
}



                                             /* CONTENT 5 */

.rideContainer{
margin:5%;
margin-top:15px;
padding:5px;
display:block;
border:1px solid black;
width:83%;
}
.rideContainer-logo{
display:block;
}

.rideContainer-s1__image{
width:90%;
margin-left:15px;
}
.rideContainer-s2{
margin-top:5px;
text-align:left;
padding-left:15px;
}
.rideContainer-logo{
display:flex;
padding-left:15px;
}
.rideContainer-logo__image{
width:30px;
}

.rideContainer-s3{
display:none;
}



                                             /* CONTENT 6 */
.awards{
display:block;
margin-left:5%;
width:66%;
padding-left:10%;
}

awards-s1__image{
width:40px;
}
.awards-s1__title{
text-align:left;
font-size:25px;
}

.awards-s1__desc{
font-size:18px;
}
.awards-s2__image{
width:100%;
margin-left:1%;
}



                                             /* CONTENT 7 */


.collection{
margin-left:15px;
}

.CollectContainer{
display:flex;
flex-wrap:wrap;
justify-content:space-evenly;
width:90%;
}

.collection-s1{
flex-grow:2;
flex-basis:50%;
font-size:11px;
}

.collection-s1__image{
margin-left:2px;
}


                                           /*FOOTER PAGE */


.footer1,.footer2{
display:none;
}
.footer{
padding-left:1%;
width:63%;
margin-left:5%;
}
.creditpage{
display:block;

}
.creditpage-list >ul {
line-height:40px;
list-style-type:none;
}

.creditpage-button{
border:none;
display:flex;
gap:80%;
padding:10px;
background-color:white;
border:2px solid black;
border-radius:15px;
margin:10px 0px;
width:90%;
}
.creditpage-btn{
border:none;
display:flex;
gap:79%;
padding:10px;
background-color:white;
border:2px solid black;
border-radius:15px;
margin:10px 0px;
width:90%;
}
.creditpage-link{
text-align:left;
}
.creditpage-logo__image{
width:40px;
}
.creditpageterms{
display:flex;
width:110%;
font-size:15px;
}
.creditpage__desc{
width:120%;
font-size:10px;
margin-left:10px;
}

}






